/* HEADER */

/* Header background*/
#pm_headerDesktop {
background-image:url(https://raw.githubusercontent.com/jrphysics/physics-pm/master/pm-galaxy2.png);
}
#pm_headerDesktop .headerDesktop-logo {
background: transparent;
}

/* Searchbox better visualization */
.searchForm-container {
background-color: black;
}
.searchForm-container .search-form-fieldset {
color: white;
}



/* SIDEBAR */

/* Sidebar background (inbox and settings) */
#pm_sidebar {
background-image:url(https://raw.githubusercontent.com/jrphysics/physics-pm/master/pm-galaxy5.png);
}
.pm_opensans {
background-image:url(https://raw.githubusercontent.com/jrphysics/physics-pm/master/pm-galaxy5.png);
}

/* Counter and repeat white for better visualization */
.sidebarApp-item .navigationItem-counter {
color: white;
}
.sidebarApp-item .navigationItem-aside .fa-repeat {
color: white;
}


/* MESSAGEBOX */

#conversation-view {
background-image:url(https://raw.githubusercontent.com/jrphysics/physics-pm/master/atom.png);
}
element-view {
background: transparent;
}
#conversation-view .message .frame {
background: transparent;
}

/* MESSAGE LIST */

body #conversation-list-columns {
background-image:url(https://raw.githubusercontent.com/jrphysics/physics-pm/master/FD.png);
}
